/* Aula inicial :D */
body {
  background-image: url('https://image.freepik.com/vetores-gratis/fundo-abstrato-azul-formas-geometricas_1035-17545.jpg');
  font-family: Arial;
}

.menu {
  background-color: white;
}

a {
  color: teal;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.menu li {
  list-style: none;
}
  
  .site-title,
  .site-subtitle {
    color: whitesmoke; 
    text-align: center;
  }
  
  .site-subtitle {
    font-style: italic;
  }
