/* Aula inicial :D */
body {
  background-image: url('https://steamcdn-a.akamaihd.net/steamcommunity/public/images/items/628290/934e7435332a306212326c55c2a2fc68d5df2f24.jpg');
  background-size: auto 100vh;
  font-family: Arial;
  height: 100vh;
}

.menu ul {
  display: flex;
  justify-content: space-around;
}

.menu {
  background-color: white;
}

.menu li {
  list-style: none;
}

a {
  color: teal;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.site-subtitle,
.site-title {
  color: whitesmoke;
  text-align: center;
}

.site-subtitle {
  font-style: italic;
}
